@if (isLoading()) {
  <app-loading-indicator>Pobieranie rozwiązań</app-loading-indicator>
} @else {
  <mat-card>
    <mat-card-header>
      <h1 mat-card-title>Przesłane rozwiązania</h1>
    </mat-card-header>

    <mat-card-content>
      <mat-action-list>
        @for (solvedTest of solvedTests(); track solvedTest.id) {
          <button
            mat-list-item
            [appBottomSheetActionsTrigger]="pageActions"
            (onActionClick)="handlePageAction($event, solvedTest.id)"
          >
            <h2 matListItemTitle>
              {{ solvedTest.testTakerName }}
            </h2>
            <p matListItemLine>
              Przesłano: {{ solvedTest.date | date: "short" }}
            </p>
          </button>
        }
      </mat-action-list>
    </mat-card-content>
  </mat-card>
}
