<app-page
  pageTitle="Przesłane rozwiązania"
  subtitle="Ta strona pozwala na przeglądanie rozwiązań przesłanych przez użytkowników."
>
  <mat-action-list>
    @for (solvedTest of solvedTests(); track solvedTest.id) {
      <button
        mat-list-item
        [appBottomSheetActionsTrigger]="pageActions"
        (onActionClick)="handlePageAction($event, solvedTest)"
      >
        @if (isSolvedTestGraded(solvedTest)) {
          <mat-icon matListItemIcon>check_circle</mat-icon>
        } @else {
          <mat-icon matListItemIcon>pending_actions</mat-icon>
        }

        <h2 matListItemTitle>{{ solvedTest.testTakerName }}</h2>

        <span matListItemLine
          >Przesłano: {{ solvedTest.date | date: "short" }}</span
        >

        @if (isSolvedTestGraded(solvedTest)) {
          <span matListItemLine>Ocena: {{ solvedTest.grade | percent }}</span>
        } @else {
          <span matListItemLine>Ocena: oczekuje na sprawdzenie</span>
        }
      </button>
    }
  </mat-action-list>
</app-page>
