<ng-template #dataTemplate>
  <mat-action-list>
    @for (solvedTest of solvedTests(); track solvedTest.id) {
      <button
        mat-list-item
        [appBottomSheetActionsTrigger]="pageActions"
        (onActionClick)="handlePageAction($event, solvedTest.id)"
      >
        @if (isSolvedTestGraded(solvedTest)) {
          <mat-icon matListItemIcon>check_circle</mat-icon>
        } @else {
          <mat-icon matListItemIcon>pending_actions</mat-icon>
        }

        <h2 matListItemTitle>{{ solvedTest.testTakerName }}</h2>

        <span matListItemLine
          >Przesłano: {{ solvedTest.date | date: "short" }}</span
        >

        @if (isSolvedTestGraded(solvedTest)) {
          <span matListItemLine>Ocena: {{ solvedTest.grade | percent }}</span>
        } @else {
          <span matListItemLine>Ocena: oczekuje na sprawdzenie</span>
        }
      </button>
    }
  </mat-action-list>
</ng-template>

<ng-template #noDataTemplate>
  <app-no-data-info>
    <img src="assets/icons/no-data.svg" no-data-info-icon />

    <p no-data-info-message>Nikt nie przesłał jeszcze rozwiązań</p>
  </app-no-data-info>
</ng-template>

<ng-template #isLoadingTemplate>
  <app-loading-indicator>Pobieranie rozwiązań</app-loading-indicator>
</ng-template>

<mat-card>
  <mat-card-header>
    <h1 mat-card-title>Przesłane rozwiązania</h1>
  </mat-card-header>

  <mat-card-content>
    <ng-container
      appPageStates
      [dataTemplate]="dataTemplate"
      [loadingTemplate]="isLoadingTemplate"
      [emptyTemplate]="noDataTemplate"
    />
  </mat-card-content>
</mat-card>
