<h1 mat-dialog-title>Udostępnij test</h1>

<mat-dialog-content>
  <form
    [formGroup]="metadataForm"
    id="shared-test-metadata-form"
    (ngSubmit)="handleFormSubmit()"
  >
    <mat-form-field class="width-100">
      <input
        type="text"
        formControlName="name"
        matInput
        placeholder="np.: Kraje Europy"
      />
      <mat-label>Nazwa udostępnienia</mat-label>
      <mat-error *ngIf="metadataForm.controls.name.hasError('required')">
        Nazwa jest wymagana
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-button [mat-dialog-close]="null" color="warn">
    Anuluj
  </button>
  <button
    mat-button
    form="shared-test-metadata-form"
    [disabled]="metadataForm.invalid"
  >
    Udostępnij
  </button>
</mat-dialog-actions>
