<app-page
  pageTitle="Rozwiązane testy"
  subtitle="Ta strona zawiera listę rozwiązanych przez Ciebie testów."
>
  <mat-list role="list">
    @for (submission of submissions(); track submission.id) {
      <mat-list-item role="listitem">
        <span matListItemTitle>{{ submission.sharedTestName }}</span>
        <span matListItemLine
          >Przesłano: {{ submission.date | date: "short" }}</span
        >

        @if (submission.grade) {
          <span matListItemLine>Ocena: {{ submission.grade | percent }}</span>
        } @else {
          <span matListItemLine>Oczekuje na sprawdzenie</span>
        }
      </mat-list-item>
    }
  </mat-list>
</app-page>
