<mat-card appearance="outlined">
  <mat-card-content class="test-taker-info">
    <div>
      <h2 class="test-taker-info__info-label">Imię i nazwisko</h2>
      <p class="test-taker-info__info-value">
        {{ solvedTest?.testTakerName }}
      </p>
    </div>

    <div>
      <h2 class="test-taker-info__info-label">Data przesłania</h2>
      <p class="test-taker-info__info-value">
        {{ solvedTest?.date | date: "short" }}
      </p>
    </div>

    @if (solvedTest?.grade != null) {
      <div>
        <h2 class="test-taker-info__info-label">Ocena</h2>
        <p class="test-taker-info__info-value">
          {{ solvedTest?.grade | percent }}
        </p>
      </div>
    }
  </mat-card-content>
</mat-card>
