<mat-card appearance="outlined">
  <mat-card-header>
    <h2 mat-card-title>Informacje o rozwiązującym</h2>
  </mat-card-header>

  <mat-card-content class="test-taker-info">
    <div>
      <h3 class="test-taker-info__info-label">Imię i nazwisko</h3>
      <p class="test-taker-info__info-value">
        {{ solvedTest?.testTakerName }}
      </p>
    </div>

    <div>
      <h3 class="test-taker-info__info-label">Data przesłania</h3>
      <p class="test-taker-info__info-value">
        {{ solvedTest?.date | date: "short" }}
      </p>
    </div>

    @if (solvedTest?.grade) {
      <div>
        <h3 class="test-taker-info__info-label">Ocena</h3>
        <p class="test-taker-info__info-value">
          {{ solvedTest?.grade }}
        </p>
      </div>
    }
  </mat-card-content>
</mat-card>
