<app-question-actions
  (onQuestionDelete)="onQuestionDelete.emit()"
  [formGroup]="question"
>
  <span role="heading" aria-level="2" title>Pytanie {{ index + 1 }}</span>
  <p subtitle>Pytanie otwarte</p>

  <ng-container content>
    <mat-form-field class="width-100">
      <input type="text" matInput formControlName="content" />
      <mat-label>Treść pytania</mat-label>
    </mat-form-field>
  </ng-container>

  <ng-container drag-handle>
    <ng-content select="[drag-handle]" />
  </ng-container>
</app-question-actions>
