<app-password-recovery-form
  *ngIf="!showInstructions(); else instructions"
  (onFormValue)="sendPasswordResetEmail($event)"
  [errors]="formErrors()"
/>

<ng-template #instructions>
  <mat-card>
    <mat-card-header>
      <h1>Sprawdź skrzynkę email...</h1>
    </mat-card-header>

    <mat-card-content>
      <p>
        Na twój adres email wysłaliśmy wiadomość z linkiem umożliwiającym zmianę
        hasła do konta.
      </p>

      <p>
        Jeżeli wiadomość nie doszła sprawdź folder z zawartością spam, lub
        <button mat-button color="accent" (click)="sendPasswordResetEmail(formValue())">wyślij wiadomość ponownie.</button>
      </p>
    </mat-card-content>
  </mat-card>
</ng-template>
