<h1 mat-dialog-title>Niekompletny test</h1>

<mat-dialog-content class="mat-typography">
  <p>Nie można udostępnić testu w obecnym stanie.</p>

  <h2>Możliwe przyczyny</h2>

  <mat-list role="list">
    <mat-list-item role="listitem">Test nie zawiera pytań</mat-list-item>
    <mat-list-item role="listitem"
      >Przynajmniej jedno pytanie zamknięte zawiera mniej niż dwie
      odpowiedzi</mat-list-item
    >
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Zamknij</button>
</mat-dialog-actions>
