<app-page
  pageTitle="Oceń rozwiązania"
  subtitle="Ta strona pozwala na ocenę rozwiązań testu. Poniżej każdego pytania znajdują się pola wyboru, które pozwalają na ocenę poprawności odpowiedzi. Zmiany w ocenach są zapisywane automatycznie."
>
  <app-test-taker-info [solvedTest]="solvedTest()" class="test-taker-info" />

  <form
    [formGroup]="answersEvaluationsForm"
    id="solved-test-answers-evaluations-form"
  >
    <app-test-grading-form
      [answersEvaluationsForm]="answersEvaluationsForm"
      [data]="questionsWithAnswers()"
    />
  </form>
</app-page>
