<ng-container [formGroup]="questionForm">
  <mat-form-field class="width-100">
    <input type="text" matInput formControlName="content" />
    <mat-label>Treść pytania</mat-label>
  </mat-form-field>

  <!-- <div cdkDropList formArrayName="answers" [cdkDropListData]="answers">
    <mat-form-field
      class="width-100 question__answer"
      *ngFor="let answer of answers.controls; let answerIndex = index"
      [formGroupName]="answerIndex"
      cdkDrag
      [cdkDragData]="answer"
      (cdkDragDropped)="handleAnswersReorder($event)"
    >
      <input type="text" matInput formControlName="content" />
  
      <mat-label>Odpowiedź {{ answerIndex + 1 }}</mat-label>
  
      <button
        mat-icon-button
        matPrefix
        cdkDragHandle
        class="question__drag-handle"
      >
        <mat-icon>drag_indicator</mat-icon>
      </button>
  
      <button
        mat-icon-button
        matSuffix
        (click)="onDeleteAnswer.emit([index, answerIndex])"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-form-field>
  </div> -->
</ng-container>