<mat-card>
  <mat-card-header>
    <h1 mat-card-title>Kreator testu</h1>
    <p mat-card-subtitle>
      Skonfiguruj swój test. Dodaj pytania oraz co najmniej po 2 odpowiedzi do
      pytań zamkniętych. Każde pytanie zamknięte musi mieć przynajmniej 1
      poprawną odpowiedź. Twój test zapisze się automatycznie po każdej zmianie.
    </p>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="testForm">
      <mat-form-field class="width-100">
        <input type="text" matInput formControlName="name" />
        <mat-label>Nazwa testu</mat-label>
      </mat-form-field>

      <ng-container formArrayName="questions">
        <ng-container
          *ngFor="
            let questionControl of testForm.controls.questions.controls;
            let i = index
          "
          [ngSwitch]="questionControl.controls.type.value"
        >
          <app-choice-question
            *ngSwitchCase="'single-choice'"
            [formGroupName]="i"
            (onAnswerReorder)="handleAnswersReorder($event)"
            (onAddAnswer)="handleAddAnswer($event)"
            (onDeleteAnswer)="handleDeleteAnswer($event)"
            [multi]="false"
          />

          <app-choice-question
            *ngSwitchCase="'multi-choice'"
            [formGroupName]="i"
            (onAnswerReorder)="handleAnswersReorder($event)"
            (onAddAnswer)="handleAddAnswer($event)"
            (onDeleteAnswer)="handleDeleteAnswer($event)"
            [multi]="true"
          />

          <app-open-question
            *ngSwitchCase="'open'"
            [formGroupName]="i"
          />
        </ng-container>
      </ng-container>
    </form>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-raised-button color="accent">Dodaj pytanie</button>
  </mat-card-actions>
</mat-card>
