<mat-card>
  <mat-card-header>
    <h1 mat-card-title>Kreator testu</h1>
    <p mat-card-subtitle>
      Skonfiguruj swój test. Dodaj pytania oraz co najmniej po 2 odpowiedzi do
      pytań zamkniętych. Każde pytanie zamknięte musi mieć przynajmniej 1
      poprawną odpowiedź. Twój test zapisze się automatycznie po każdej zmianie.
    </p>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="testForm" *ngIf="test()">
      <mat-form-field class="width-100">
        <input type="text" matInput formControlName="name" />
        <mat-label>Nazwa testu</mat-label>
      </mat-form-field>

      <div class="v-stack">
        <ng-container
          *ngFor="
            let question of questions();
            let i = index;
            trackBy: trackByQuestionId
          "
          [ngSwitch]="question.type"
        >
          <app-single-choice-question
            *ngSwitchCase="'single-choice'"
            [question]="$any(question)"
            [index]="i"
          />

          <app-multi-choice-question
            *ngSwitchCase="'multi-choice'"
            [question]="$any(question)"
            [index]="i"
          />

          <app-open-question
            *ngSwitchCase="'text-answer'"
            [question]="$any(question)"
            [index]="i"
          />
        </ng-container>
      </div>
    </form>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions align="end">
    <button
      mat-stroked-button
      [matMenuTriggerFor]="addQuestionMenu"
      color="accent"
    >
      <mat-icon>add</mat-icon> Dodaj pytanie
    </button>

    <mat-menu #addQuestionMenu>
      <button mat-menu-item *ngFor="let questionType of questionsTypes">
        <mat-icon>{{ questionType.icon }}</mat-icon> {{ questionType.label }}
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
