.main-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  --main-toolbar-height: var(--mat-toolbar-standard-height);

  &--mobile-view {
    --main-toolbar-height: var(--mat-toolbar-mobile-height);
  }

  min-height: calc(100vh - var(--main-toolbar-height));
}

@media (min-width: 576px) {
  .main-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .main-container {
    max-width: 1320px;
  }
}
