.no-data-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .no-data-info__icon {
    margin-bottom: 1rem;
    max-width: 15rem;

    & ::ng-deep img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .no-data-info__text {
    font-size: 1.5rem;
    text-align: center;
  }
}
