<mat-card>
  <mat-card-header>
    <h1 matCardTitle>Przywracanie hasła</h1>
    <p mat-card-subtitle>
      Na email zostanie wysłana wiadomość, która umożliwi ustawienie nowego
      hasła.
    </p>
  </mat-card-header>

  <mat-card-content>
    <form
      [formGroup]="form"
      (ngSubmit)="handleFormSubmit()"
      id="password-recovery-form"
    >
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="np.: jan.kowalski@poczta.pl"
          required
          formControlName="email"
          name="account-email"
        />

        <mat-label>Email</mat-label>

        <mat-error *ngIf="email.hasError('email')"
          >To nie jest poprawny adres email</mat-error
        >

        <mat-error *ngIf="email.hasError('required')"
          >Adres email jest wymagany</mat-error
        >

        <mat-error *ngIf="email.hasError('userNotFound')"
          >Konto z tym adresem email nie istnieje</mat-error
        >
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      type="submit"
      mat-button
      form="password-recovery-form"
      color="accent"
      [disabled]="form.invalid"
    >
      Zresetuj hasło
    </button>
  </mat-card-actions>
</mat-card>
