<app-page
  pageTitle="Udostępnione testy"
  subtitle="Poniżej znajduje się lista z testami, które zostały udostępnione publicznie."
>
  <mat-action-list>
    @for (test of tests(); track test.id) {
      <button
        mat-list-item
        [appBottomSheetActionsTrigger]="pageActions"
        (onActionClick)="handlePageAction($event, test.id)"
      >
        <span matListItemTitle>{{ test.name }}</span>
        <span matListItemLine
          >Udostępniono: {{ test.sharedDate | date: "short" }}</span
        >
      </button>
    }
  </mat-action-list>
</app-page>
