<ng-template #hasDataTemplate>
  <mat-action-list>
    @for (test of tests(); track test.id) {
      <button
        mat-list-item
        [appBottomSheetActionsTrigger]="pageActions"
        (onActionClick)="handlePageAction($event, test.id)"
      >
        <span matListItemTitle>{{ test.name }}</span>
        <span matListItemLine
          >Udostępniono: {{ test.sharedDate | date: "short" }}</span
        >
      </button>
    }
  </mat-action-list>
</ng-template>

<ng-template #isLoadingTemplate>
  <app-loading-indicator> Ładuję testy ... </app-loading-indicator>
</ng-template>

<ng-template #isEmptyTemplate>
  <app-no-data-info>
    <p no-data-info-message>Nie udostępniłeś jeszcze żadnych testów</p>

    <img no-data-info-icon src="assets/icons/no-data.svg" />
  </app-no-data-info>
</ng-template>

<mat-card>
  <mat-card-header>
    <h1 mat-card-title>Udostępnione testy</h1>
    <p mat-card-subtitle>
      Poniżej znajduje się lista z testami, które zostały udostępnione
      publicznie.
    </p>
  </mat-card-header>
  <mat-card-content>
    <ng-container
      appPageStates
      [dataTemplate]="hasDataTemplate"
      [loadingTemplate]="isLoadingTemplate"
      [emptyTemplate]="isEmptyTemplate"
    />
  </mat-card-content>
</mat-card>
