<h1 mat-dialog-title>Dodaj nowy test</h1>

<form [formGroup]="form" mat-dialog-content id="new-test-data-form">
  <mat-form-field>
    <input type="text" matInput formControlName="name" />
    <mat-label>Nazwa testu</mat-label>

    @if (form.controls.name.hasError('required')) {
    <mat-error>Nazwa testu jest wymagana</mat-error>
    }
  </mat-form-field>
</form>

<div mat-dialog-actions align="end">
  <button type="button" mat-button color="warn" [mat-dialog-close]="null">
    Anuluj
  </button>

  <button
    type="submit"
    form="new-test-data-form"
    mat-button
    [mat-dialog-close]="form.value"
    [disabled]="form.invalid"
  >
    Stwórz
  </button>
</div>
