<app-page
  pageTitle="Testy"
  subtitle="Ta strona pozwala na przeglądanie wersji roboczych testów."
>
  <ng-container page-header-actions>
    <button
      type="button"
      mat-icon-button
      color="accent"
      (click)="addNewTest()"
      aria-label="Dodaj nowy test"
      matTooltip="Dodaj nowy test"
    >
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>

  <mat-action-list>
    @for (test of tests(); track test.id) {
      <button
        mat-list-item
        [appBottomSheetActionsTrigger]="pageActions"
        (onActionClick)="handlePageAction($event, test.id)"
      >
        <mat-icon matListItemIcon>description</mat-icon>
        <h2 matListItemTitle>{{ test.name }}</h2>
      </button>
    }
  </mat-action-list>
</app-page>
