/* You can add global styles to this file, and also import other style files */

@use "./app/sass/theme";
@use "./app/sass/utils/vertical-stack";
@use "./app/sass/utils/width";
@use "./app/sass/utils/mat-card-spacing-fix";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-dialog {
  width: clamp(300px, 80vw, 600px);
}

.flex-spacer {
  flex: 1 1 auto;
}
